.Workout {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: var(--nantucket);
    padding: 2rem;
    margin-right: 3rem;
    border-radius: 10px;

    color: white;

    &:first-child {
        margin-left: 1rem;
    }

    &-title {
        font-family: 'Roboto', sans-serif;
        font-size: 2.8rem;
        color: hsl(0, 0%, 95%);
    }

    &-separator {
        align-self: flex-start;
        margin-top: 1rem;
        border: 0;
        height: 3px;
        width: 15%;
        background: white;
        border-radius: 5px;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &-exercises {
        flex: 1;
    }

    &-exercise {
        list-style: none;

        display: flex;
        justify-content: space-between;

        margin-top: 1rem;
        

        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;

    }

    &-start {
        background: transparent;
        color: white;
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
    }
}